

<!-- about-kpi-section -->
 <section class="about-kpi-section">
  <div class="container-fluid">
     <div class="row">
          <div class="col-md-8 col-sm-8 pad-none">
            <div class="about-kpi-inner">
            <h2 class="common-head">welcome to<span> Kannan Pan India</span></h2>
            <div class="about-inner">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit am
<br><br>
et, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor.</p>
             
          </div><!-- about-inner -->
          
        </div><!-- about-kpi-inner -->
          </div><!-- col-md-8 -->
          <div class="col-md-4 col-sm-4 pad-none">
            <div class="about-whatsapp">
             <h2>Whatsapp Messager</h2>
             <h4><%= image_tag "callus.png" %>message us now</h4>
              <a href="#" class="read-more">+91 999 888 7777</a>
            </div><!-- about-appointment -->
          </div><!-- col-md-4 -->
       </div>
     </div>
    </section><!-- about-kpi-section -->



      <section class="sevices-section">
      <div class="container-fluid">
        <div class="row">
          <div class="services-container">
         
            <div class="common-header-center">
             <h2 class="common-head">our <span>services</span></h2>
             <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
          </div>
         
           </div>

            <div class="col-md-6 col-sm-12 pad-none">
              
                  <div class="col-md-6 col-sm-6 hidden-xs pad-none ">
                    <div class="service-img-container"> 
                      <%= image_tag "services-1.jpg" %>
                    </div>
                  </div><!-- col-sm-6 -->
              <div class="col-md-6 col-sm-6 pad-none offset-md-6 offset-sm-6 ">
                <div class="service-item-container">
                    <h2>Automatic UTI PSA</h2>
                    <p>UTI 100% FULLY AUTOMATIC PORTAL:<br>Instant PSA Coupon,<br> Instant PSA Password Reset, <br>Instant PSA Id Create.</p>
                       
              </div><!-- service-item-container -->
            </div><!-- col-sm-6 -->
            
          </div><!-- col-sm-6 -->
       

           

            <div class="col-md-6 col-sm-12 pad-none">
             <div class="col-md-6 col-sm-6 hidden-xs pad-none " >
                    <div class="service-img-container"> 
                       <%= image_tag "ser-2.jpg" %>

                    </div>
                  </div><!-- col-sm-6 -->
                  <div class="col-md-6 col-sm-6 pad-none offset-md-6 offset-sm-6 ">
                <div class="service-item-container">
                    <h2>Prepaid Mobile & DTH Recharges</h2>
                    <p>Now Quick <br>Recharge of Mobile Networks Can be made at any KANNAN PAN INDIA  Retail Outlet.</p>
              </div><!-- service-item-container -->
            </div><!-- col-sm-6 -->
            
          </div><!-- col-sm-6 -->
         
          <div class="col-md-6 col-sm-12 hidden-xs pad-none">
            
               
               <div class="col-md-6 col-sm-6 pad-none ">
                <div class="service-item-container-two">
                    <h2>White Label</h2>
                    <p>Suitable For Your Business<br>Unlimited,Master Distributor, Distributor, Retailer, Api Partner</p>
                  
              </div><!-- service-item-container -->
            </div><!-- col-sm-6 -->

              <div class="col-md-6 col-sm-6 hidden-xs pad-none offset-md-6 offset-sm-6">
                    <div class="service-img-container"> 
                      <%= image_tag "services-3.jpg" %>
                    </div>
                  </div><!-- col-sm-6 -->
            
          </div><!-- col-sm-6 -->
      

             <div class="col-md-6 col-sm-12 hidden-xs pad-none">
            
               
               <div class="col-md-6 col-sm-6 pad-none ">
                <div class="service-item-container-two">
                    <h2>B2B Software</h2>
                    <p>Become A Our Business Partner, Authorized PAN API, B2B Software, Recharge, Service Provider.</p>
                  
              </div><!-- service-item-container -->
            </div><!-- col-sm-6 -->

              <div class="col-md-6 col-sm-6 hidden-xs pad-none offset-md-6 offset-sm-6">
                    <div class="service-img-container"> 
                      <%= image_tag "services-4.jpg" %>
                    </div>
                  </div><!-- col-sm-6 -->
            
          </div><!-- col-sm-6 -->
       
        </div><!-- row -->
      </div><!-- container-fluid -->
    </section><!-- sevices-section -->

    <section class="products">
      <div class="container">
        <div class="row">
           
             <h2 class="products-head">Select a suitable<span> for your Business</span></h2>

          <div class="col-md-4 col-sm-4">
            <div class="pricing-item">
          <div class="item">
                  <h4>Retailer</h4>
            <span>₹499</span>
             <ul>
                <li><i class="bx bx-check"></i> All Mobile Recharge</li>
                <li><i class="bx bx-check"></i> All DTH Recharge</li>
                <li><i class="bx bx-check"></i> Electricity bill Payments</li>
                <li><i class="bx bx-check"></i> Online Coupon Purhcase</li>
                <li><i class="bx bx-check"></i> PAN PSA Agent</li>
                <li><i class="bx bx-check"></i> Automatic Refund</li>
                <li><i class="bx bx-check"></i> High Margin</li>
                <li><i class="bx bx-check"></i> Free 24/7 WhatsApp Support</li>
                <li><i class="bx bx-check"></i> 24/7 Online Billing</li>
              
              </ul>
      
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
              </div>
          </div><!-- col-4 -->
          <div class="col-md-4 col-sm-4">
             <div class="pricing-item">
          <div class="item">
            <h4>Distributor</h4>
            <span>₹1499</span>
            <ul>
                <li><i class="bx bx-check"></i> Free Create Unlimited Retailers</li>
                  <li><i class="bx bx-check"></i> All Mobile Recharge</li>
                <li><i class="bx bx-check"></i> All DTH Recharge</li>
                <!--li><i class="bx bx-check"></i> Electricity bill Payments</li-->
                <li><i class="bx bx-check"></i> instant Online Coupons Transfer</li>
                <li><i class="bx bx-check"></i> instant Automatic PSA</li>
                <li><i class="bx bx-check"></i> High Margin</li>
                <li><i class="bx bx-check"></i> Free 24/7 WhatsApp Support</li>
                <li><i class="bx bx-check"></i> 24/7 Online Billing</li>
              </ul>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
              </div>
          </div><!-- col-4 -->
          <div class="col-md-4 col-sm-4">
            <div class="pricing-item">
          <div class="item">
            <h4>Super Distributor</h4>
            <span>₹2499</span>
            <ul>
                <li><i class="bx bx-check"></i> Free Create Unlimited Distributor &amp; Retailers</li>
                <li><i class="bx bx-check"></i> All Mobile Recharge</li>
                <li><i class="bx bx-check"></i> All DTH Recharge</li>
                <!--li><i class="bx bx-check"></i> Electricity bill Payments</li-->
                <li><i class="bx bx-check"></i> instant Online Coupons Transfer</li>
                <li><i class="bx bx-check"></i> instant Automatic PSA </li>
                <li><i class="bx bx-check"></i> High Margin</li>
                <li><i class="bx bx-check"></i> Free 24/7 WhatsApp Support</li>
                <li><i class="bx bx-check"></i> 24/7 Online Billing</li>
              </ul>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
              </div>
            </div>
          </div><!-- col-4 -->
          </div><!-- row -->
      </div><!-- container -->
    </section><!-- products -->

<!-- multiplebrand -->
    <section class="multibrand-section">
   <div class=" multibrand-container">
   <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-12">
        <div class="multibrand-header">
        <h2 class="common-head-white multibrand-head">our multi brand advantage</h2>
      </div><!-- multibrand-head -->
      </div><!-- col-12 -->
   </div><!-- row -->
    <div class="row">


    
    
      <div class="col-sm-12 col-md-12">
      <div class="multibrand-owl-carousel">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active">
                        <div class="multibrand-item-container">
                         <a href="#">
                          <%= image_tag "multibrand-1.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

                         <div class="carousel-item active">
                        <div class="multibrand-item-container">
                         <a href="#">
                          <%= image_tag "multibrand-2.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

                       <div class="carousel-item active">
                        <div class="multibrand-item-container ">
                         <a href="#">
                          <%= image_tag "multibrand-5.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

                       <div class="carousel-item active">
                        <div class="multibrand-item-container">
                         <a href="#">
                          <%= image_tag "multibrand-4.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

                     <<div class="carousel-item active">
                        <div class="multibrand-item-container">
                         <a href="#">
                          <%= image_tag "multibrand-1.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

                      <div class="carousel-item active">
                        <div class="multibrand-item-container">
                         <a href="#">
                          <%= image_tag "multibrand-2.jpg" ,class:"d-block w-10"%>
                         </a>
                      </div></div><!-- item -->

</div><!-- owl-carousel -->
        
    
      </div>
        </div><!-- col-12 -->
   </div><!-- row -->
 </div><!-- container -->
   </div><!--  multibrand-container -->

   </section><!-- multibrand-section -->
	